dj-database-url==0.3.0
dj-static==0.0.6
Django==1.11.29
django-cors-headers==1.0.0
django-toolbelt==0.0.1
djangorestframework==3.0.4
gunicorn==19.2.1
psycopg2==2.5.4
pystache==0.5.4
requests==2.6.0
static==1.1.1
static3==0.5.1
